<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<appSettings>
		<add key="csi.webapi.url" value="" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" xdt:Transform="SetAttributes(version, sku)"/>
	</startup>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1" xdt:Transform="Remove"/>
	</runtime>
</configuration>
